{% extends "base.html" %}
{% block main %}
<h2>HOOFDMENU</h2>
<div style="display: flex; gap: 3rem;">
  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <h3>Hoofdfuncties</h3><br />
    <a class="btn" href="{{ url_for('facturen_aanmaken') }}">Facturen aanmaken</a>
    <a class="btn" href="{{ url_for('facturen_printen') }}">Facturen printen</a>
    <a class="btn" href="{{ url_for('overzicht_aanmaken') }}">Overzicht aanmaken</a>
    <a class="btn" href="{{ url_for('snelinvoeren') }}">Snelinvoeren</a>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <h3>Zoeken, bewerken en verwijderen van</h3><br />
    <a class="btn" href="{{ url_for('clientenbewerken') }}">Clienten</a>
    <a class="btn" href="{{ url_for('tarievenbewerken') }}">Tarieven</a>
    <a class="btn" href="{{ url_for('overzichtbewerken') }}">Overzicht</a>
  </div>

  <div style="display: flex; flex-direction: column; gap: 1rem;">
    <h3>Historische data</h3><br />
    <a class="btn" href="{{ url_for('clientenbewerken') }}">Clienten</a>
    <a class="btn" href="{{ url_for('tarievenbewerken') }}">Tarieven</a>
    <a class="btn" href="{{ url_for('overzichtbewerken') }}">Overzicht</a>
  </div>
</div>
{% endblock %}